<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<mat-sidenav-container class="post-login-container" autosize>
    <mat-sidenav #sidenav id="sidenav" class="post-login-sidenav" mode="side" [class.menu-open]="isVisible" [class.menu-close]="!isVisible" opened>
        <mat-list id="menus">
            <mat-card class="mat-elevation-z0" style="background-color: transparent;">
                <mat-card-header style="display: flex;justify-content: center;">
                    <img class="post-login-logo" src="assets/images/logo.png" routerLink="/post-login/dashboard" alt="">
                </mat-card-header>
            </mat-card>
            <button routerLink="dashboard-management" routerLinkActive="activated-route" class="left_menu_section custom-button-dashboard image-button-dashboard" mat-flat-button>
        <span class="button-content">
          <img class="table-action-button" src="assets/images/icons/plus.png" alt="View">
          <span class="txt_route">Dashboard</span>
      </span>
      </button>
            <button routerLink="ai-ditector" routerLinkActive="activated-route" class="left_menu_section custom-button-dashboard image-button-dashboard" mat-flat-button>
              <span class="button-content">
              <img class="table-action-button" src="assets/images/icons/plus.png" alt="View">
        <span class="txt_route">AI Detector</span>

        </span>
      </button>

            <button routerLink="plant-care" routerLinkActive="activated-route" class="left_menu_section custom-button-dashboard image-button-dashboard" mat-flat-button>
          <span class="button-content">
              <img class="table-action-button" src="assets/images/icons/plus.png" alt="View">
              <span class="txt_route">Plant Care</span>
          </span>
      </button>

            <button routerLink="history-management" routerLinkActive="activated-route" class="left_menu_section custom-button-dashboard image-button-dashboard" mat-flat-button>
              <span class="button-content">
              <img class="table-action-button" src="assets/images/icons/plus.png" alt="View">
        <span class="txt_route">History</span>
        </span>
      </button>
      <button routerLink="user-management" routerLinkActive="activated-route" class="left_menu_section custom-button-dashboard image-button-dashboard" mat-flat-button>
        <span class="button-content">
          <img class="table-action-button" src="assets/images/icons/profile_management.png" alt="View">
          <span class="txt_route">Profile Management</span>
        </span>
      </button>
      
            <button routerLink="help" routerLinkActive="activated-route" class="left_menu_section custom-button-dashboard image-button-dashboard" mat-flat-button>
              <span class="button-content">
              <img class="table-action-button" src="assets/images/icons/plus.png" alt="View">
        <span class="txt_route">Help</span>
        </span>
      </button>
        </mat-list>
        <!-- <div class="div_logout">
        <mat-list>
          <button (click)="logoutUser()" class="menu-item"
                  mat-flat-button>
            <img class="menu_img" src="../../../assets/icons/logout_FILL0_wght400_GRAD0_opsz48.svg" alt="">

            <span class="txt_route">Logout</span>
          </button>
        </mat-list>
      </div> -->
    </mat-sidenav>





    <mat-sidenav-content class="post-login-main-side">
        <mat-toolbar class="header-bar">
            <button (click)="onMenuToggle()" mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
            <span class="active_router">{{activeRouter}}</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="header-icon favorite-icon btn-signout" [matMenuTriggerFor]="menu">
        <!-- <img   class="menu_img" src="../../../assets/icons/logout_FILL0_wght400_GRAD0_opsz48.svg" alt=""> -->
        P
      </button>

            <mat-menu #menu="matMenu">
                <!-- <button mat-menu-item (click)="forgetPassword()">
                  <mat-icon>lock_reset</mat-icon>
                  <span>Forget Password</span>
                </button> -->

                <button mat-menu-item (click)="logoutUser()">
          <mat-icon>logout</mat-icon>
          <span>Logout User</span>
        </button>
            </mat-menu>
        </mat-toolbar>
        <div class="body-area">
            <div class="sub-body-area">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>